*{
    text-align: center;
}

.welcome-div{
    margin: 4% auto;
    color: #ff1a4f;
    
}

.welcome-div h1{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 20px 0;
}

.allitems-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.item-div{
    padding: 2% 1%;
}

.item-img{
    border-radius: 12px;
    width: 300px;
    height: 200px;
}

@media only screen and (max-width: 480px){
    .item-img{
        width: 100%;
        height: auto;
    }
}

.item-name{
    color: #009220;
    font-weight: 600;
    margin: 10px auto;
}

.add-btn{
    background-color: #ff1a4f;
    border: none;
    border-radius: 12px;
    padding: 1% 2%;
    color: white;
}